<a href="https://colab.research.google.com/github/simulate111/Production-Optimization/blob/main/python_intro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Some basic introduction to python (= what the professor knows...). This is very brief as there are very good websites available for selfstudies. Example of useful webpages are

https://www.python.org/about/gettingstarted/

https://www.learnpython.org/

https://www.w3schools.com/python/python_intro.asp

If you run into problem you can search for help at https://stackoverflow.com where you will find both good and bad answers.

We will mainly run python as a script for producing mathematical models. This do not require extensive python knowedge, but if you want to have a fexible model input or visualize results python skills are usefull

In python the formating matters and the names are case sesitive.

In [1]:
for i in range(5): #range is a function for creating an iterable. Python starts with 0. Range ends before the final value
  if i == 2:
    i += 1
    print("Value of 'i' is",i) #you can use both "" and ''. If you use "" you can use ' inside the qoutation marks

Value of 'i' is 3

In [2]:
I = 1
for i in range(5): #range is a function for creating an iterable. Python starts with 0. Range ends before the final value
  if i == 2:
    i += 1
print("Value of i is", i, "and of I is",I)

Value of i is 4 and of I is 1

Many of the models we are creating contain summation. For example

$ \sum_{x=1}^{5} 2{x}  $

This could be written with a for-loop:

In [3]:
s = 0 #sum is not a possible variable name, sum is an available function in python
for x in range(1,6):
  s += 2*x
# s = s + 2*x
print("sum is:", s)

sum is: 30

(Python also includes a while construction)

In [4]:
s = 0
x = 0
while x < 5:
  x += 1
  s += 2*x
print("sum is:",s)

sum is: 30

Most of the example code in this course is written using list comprehension: We can make lists and dictionaries using python.

In [5]:
n=[2*n for n in range(1,6)] #fill a list with the expression 2*n where n i 1..5
print('The list:',n) #the result printed
print('The list in a one-line call:',[2*n for n in range(1,6)]) #sending the code for making the list to the print-function
print('The sum of the items in the list:',sum([2*n for n in range(1,6)])) #another function
print("The sum of the items in the list called 'n':",sum(n))
print('The sum of the items in the list generated using a list:',sum([2*n for n in [0,1,2,3,4,5]])) #here we do not use range(6) but define a list with he same items
print('The list from a list:',[n for n in n]) #first n is the result expression, second n is the iterator and third n is an iterable, i.e. a list called n we have created earlier

The list: [2, 4, 6, 8, 10]
The list in a one-line call: [2, 4, 6, 8, 10]
The sum of the items in the list: 30
The sum of the items in the list called 'n': 30
The sum of the items in the list generated using a list: 30
The list from a list: [2, 4, 6, 8, 10]

We can use if with and, or, >, <, == or !=. (== is test of equal, != is test of not equal)

In [6]:
print([n for n in range(1,6) if n < 2 or n > 4])

[1, 5]

We can make list with more than one controlling iterator

In [7]:
print([n*m for n in range(5) for m in range(5) if n == m])

[0, 1, 4, 9, 16]

We will work with sets. We can use the keyword "in" to test if a item is in a set. Here the set is populated with pair of numbers. Using () gives a tuple. A tuple cannot be manipulated or updated. We will be able to generate Pyomo-sets form list, so we can alternatively create lists. Lists can contain duplicates of an item.

In [8]:
n = {(i,j) for i in range(5) for j in range(5) if i < 3 and j >3}
print(n)
m = {(i,j) for i in range(5) for j in range(5) if (i,j) not in n} #set with tuples, the tuples must not be in n
print(m)
m = [[i,j] for i in range(5) for j in range(5) if (i,j) in n] #list with lists, the tuples needs to be in n
print(m)
m = [[i,j] for i in range(5) for j in range(5) if [i,j] in m] #we check if a list is in the list m
print(m)
print('A set',{1,2,3,3,3})
print('A list',[1,2,3,3,3])

{(2, 4), (0, 4), (1, 4)}
{(4, 0), (3, 4), (4, 3), (3, 1), (0, 2), (2, 2), (1, 0), (1, 3), (4, 2), (3, 0), (3, 3), (0, 1), (1, 2), (2, 1), (3, 2), (4, 1), (4, 4), (0, 0), (1, 1), (0, 3), (2, 0), (2, 3)}
[[0, 4], [1, 4], [2, 4]]
[[0, 4], [1, 4], [2, 4]]
A set {1, 2, 3}
A list [1, 2, 3, 3, 3]

We will work with dictionaries to define parameters. A dictionary can be seen as a set where the members have some characteristics.In this example the keys are strings.

In [9]:
d = {'m'+str(i): 2*i for i in range(5)}
print(d)
#print the vaule member m3
print("Value of 'm3' is",d['m3'])
#print the "keys" of the dictionary
print(d.keys())

{'m0': 0, 'm1': 2, 'm2': 4, 'm3': 6, 'm4': 8}
Value of 'm3' is 6
dict_keys(['m0', 'm1', 'm2', 'm3', 'm4'])

In python we can assign several values at the same time. Here we first create an empty dictionary and the populate it.

In [10]:
p = {}
p['J1','A'],p['J2','A'],p['J3','A'],p['J4','A'] = 3,4,4,3
p['J1','B'], p['J2','B'],p['J3','B'],p['J4','B'] = 2,3,4,4
print(p)
print(p['J1','B'])

{('J1', 'A'): 3, ('J2', 'A'): 4, ('J3', 'A'): 4, ('J4', 'A'): 3, ('J1', 'B'): 2, ('J2', 'B'): 3, ('J3', 'B'): 4, ('J4', 'B'): 4}
2



```
# This is formatted as code
```

We will use functions to define more complicated expression (pyomo actually uses sumpy, with is a package for symbolic math so we can make readable expressions). A function is defined using def. We need a name of the function the recommended form is my_function_name. (This is also the recommendation for naming variables). Our functions will most of the time return something. If not it is called a void.

**For Matlab users.** If you try to get an element in an array using () and not [] which is Python, you will try to call the array as a function and get some error message you may not understand

In [11]:
def my_func(a,b,c=1):
  if a > b > c:
    return 'decreasing order'
  elif a == b == c:
    return 'all equal',a #here bot text and a number is returned
  else: #this is actually bad coding, as you anyway would end up here
    return 'not in decreasing order or all equal'

print(my_func(4,3)) #call with two arguments, c has a default value in the function header
print(my_func(4,3,7))
print(my_func(2,2,2))
print(my_func(2,2,2)[1]) #The output is a tuble (in this case), the first index is 0 in python

decreasing order
not in decreasing order or all equal
('all equal', 2)
2

In [12]:
n=[n for n in range(6)]
print(n)
print('First element in list', n[0])
#The same using Matlab, where the first index is 1 and not 0, you will get an error...
print(n(1))

[0, 1, 2, 3, 4, 5]
First element in list 0

TypeError: 'list' object is not callable

{} can also represent a set, then there are no keys given. A set has unique items, so adding the same more than once is not possible (also dictionaries need unique keys). A list, on the other hand can contain the same item many times

In [ ]:
a = {1}
print(a)
a.add(2)
print(a)
for i in range(5):
  a.add(3)
print(a)

b = [1]
print(b)
b.append(2)
print(b)
for i in range(5):
  b.append(3)
print(b)

In python everything is pointers do adresses so making copies are usually "shallow copies". This will usually not be a concern for us, since we are writing scripts most of the time. However, be careful when copying

In [ ]:
a = [1,2,3]
print('a',a)
b = a
print('b',b)
a.append(4) #we add a 4 to the list a
print('b',b) #but b is a!

In [ ]:
a = {'a':1,'b':2}
b = a
#This creates a new dictionary and copies from a
c = {}
for k in a.keys():
  c[k] = a[k]
#similarly using unpacking
d = {**a}
#or with dictionary compehension
e = {k:i for (k,i) in a.items()}
a['a'] = 3


print('a=',a,'b=',b,'c=',c,'d=',d,'e=',e)

One should avoid writing long lines. You can take a new line after e.g. + or - to continue on a new one. You should add a \ to show that it is a several line code. (This may be optional)

In [ ]:
a = sum([10 for i in range(5)]) + \
    sum(range(10))
print(a)

Something on formating. Until now the output has been unformated. There are several way to format numbers and strings in the output in python. The most recently added formating is the f-format. Here you put the variable in a curly bracket and add formating information.

In [ ]:
pi = 3.14159654
print('The value of pi is', f"{pi:.2f}") #rounded two decimals
print('The value of pi is', f"{pi:7.4f}") #total seven positions, including '.' and two decimals
#also possible (using f-formating)
print(f"The value of pi is {pi:.2f}")
print(f"The value of pi is {pi:7.4f} or rounded to an integer {pi:.0f}")

Modules

Most things require importing modules in python. Many modules are standard modules and are always available. Google colab or anaconda comes with additional scientific module. Basic math function are found in in "math", more advanced ones in "numpy" which makes matrix calculations possible. "scipy" contains some advanced funcitons similar to matlab toolboxes. We do not need numpy or scipy in this course.

It is a good practice to be restricitve on importing since you can mess things up. For example, generating random numers can be done with random using the module random or numpy. If you use "star import" you will not know which you are calling.

In [ ]:
#To be able to generate a random number (the module is called random and the function we wanted is called random we use an alias we like)
from random import random as rnd
print(rnd())
#Without an alias
from random import random
print(random())
#Or importing the whole packeged
import random
print(random.random()) #we now need to add the package name to to call
#Finally "star import", i.e. importing to the global name space. We can now call all functions in random with just there names
#(and hope there) are no other functions with the same name
from random import *
print(random())
print(randint(1,100)) #with starimport we can call randint that gives a random integer in the range we specify
print([randint(1,100) for i in range(randint(1,10))])

In scheduling we may want to deal with time and dates. For this the datetime module is very convenient.

In [ ]:
import datetime
#getting and printing the current time and date
now = datetime.datetime.now()
print("This is it!", now)
#adding 3 days, 2 hour and 37 minutes
time_to_add = datetime.timedelta(days=3, hours=2, minutes=37)
print("After 3 days, 2 hour and 37 minutes we have ",now+time_to_add)
#to get the year only
current_year = now.timetuple()[0] #this is a tuple with y,m,d,h,min,s
print("The year is", current_year)
#we can define a time point

christmas = datetime.datetime(current_year,12,24,18)
print("Only ",(christmas-now).total_seconds(), "seconds to Christmas dinner!")

Two examples of plotting. Takes a while to learn the syntax, but useful when illustrating results. See https://matplotlib.org/stable/plot_types/index.html for more info and examples.

In [ ]:
import math
import matplotlib.pyplot as plt #ploting similar to matlab
x = [0.01*i for i in range(615)]
y1 = [math.sin(x) for x in x]
y2 = [math.cos(x) for x in x]
plt.plot(x,y1,x,y2)
plt.show()

In [ ]:
#more advance plotting using a slighly different approach
#figure is the whole plot are whereas axes is waht you normally would call a plot
#This is ilke subplots in matlab, but here with only one
fig, ax = plt.subplots()
line1,= ax.plot(x, y1, 'g--') #ax.legend needs a tuple, this is a tuple with one element
line2,= ax.plot(x, y2,'c-.')
ax.set_xlabel('$x$')
ax.set_ylabel('$sin(\pi), cos(\pi)$')
ax.legend([line1,line2,],['$\dot{m}$','$m_{fix}$'])
ax.set_title('Not course related?')
plt.show()

Pandas is a module used by data scientists. It is principally a spread sheet like object with methods for manipulating the data and calculating statistical measures. (It also have some plotting built in). We will "missuse" this for easy input from excel

In [ ]:
import pandas as pd
#create a dataframe named df from an excelfile. We could specify which sheet too if we like
df = pd.read_excel('http://users.abo.fi/abrink/prodmixpara.xlsx')
df #to display the data frame

In [ ]:
#making lists from the data in the dataframe. We need .notnull() to filter out empty cells
#make a list of furnitures
fur = [s for s in df['furnitures'].values if pd.notnull(s)]
print('list of furnitures:',fur)
#depending on platform it may be necessary to create list with strings using
#fur = [s for s in df.set_index['furnitures'].index.values if pd.notnull(s)]
#making a list of tuples with furniturs and their profits, observe what we have [[]], the inner is a list with the column headers we like to include
p=[(fur,c) for (fur,c) in df[['furnitures','profit']].values
    if pd.notnull(fur) and pd.notnull(c)]
print(p)
#using set_index do not need the "list of list" syntax
#p=[(fur,c) for (fur,c) in df.set_index['furnitures','profit'].index.values
#    if pd.notnull(fur) and pd.notnull(c)]
#print(dict(p))

#This may as well be done in one step:
print("Directly to a dictionary", {fur:c for (fur,c) in df[['furnitures','profit']].values
    if pd.notnull(fur) and pd.notnull(c)})
#make a more complicated list and finally build a dictionary with a tuple as key
a=[((f,s),p) for (f,s,p) in df[['f','s','prodtime']].values
    if pd.notnull(f) and pd.notnull(s) and pd.notnull(p)]
#convert this to a dictionary
print(dict(a))
#or in one step
print("Directly to a dictionary", {(f,s):p for (f,s,p) in df[['f','s','prodtime']].values
    if pd.notnull(f) and pd.notnull(s) and pd.notnull(p)})

In [ ]:
#sorting the data frame using 'prodtime' column. If you do this before the list, you get f,s dictionary sorted by this value
df = df.sort_values(by=['prodtime'], ascending=False) #we reuse the name, destorying the original
#reset the index key, if you want to get the first numbers in the new order
#df = df.reset_index(drop=True)
df